---
title:  Installing on Windows
---

Install the native client by using the Windows installer GUI interface or the command-line.

This installation topic contains the following sections:

-   [Prerequisites](install-windows.html#install-windows__section_B7EABDDDA7B94F2DBB0E1C6D98FFECBD)
-   [Install with the Windows Installer](install-windows.html#install-windows__section_891A3F2E92114707BC493D322F9B7BA7)
-   [Install from the MSI Command-Line](install-windows.html#install-windows__section_7186EF9239D4470C92CDA16E17F51367)
-   [Repair a Windows Installation](install-windows.html#install-windows__section_93E5390751F442BB8A3377814A81B105)

## <a id="install-windows__section_B7EABDDDA7B94F2DBB0E1C6D98FFECBD" class="no-quick-link"></a>Prerequisites

Before you install the Pivotal GemFire native client, you must complete the following prerequisites:

-   Confirm that your system meets the hardware and software requirements described in [Windows Support Details](../../getting_started/system_requirements/gemfire_native_client_requirements.html#concept_7AE0C1CB11244095A50CCB52A09A09A1__section_3A8A0684D68E467EBA498D939E91C5AA).
-   From the [Pivotal GemFire download page](https://network.pivotal.io/products/pivotal-gemfire), select **Download**.
-   On the Pivotal GemFire product download page, select and download the Pivotal GemFire native client .msi file appropriate for your hardware architecture.

**Note:**
If you do not install the native client using the .msi installer or the msiexec command-line, then you will need to manually perform the configuration steps (such as configure your GFCPP and PATH environment variables) and install the Microsoft Visual C++ 2010 Redistributable Package described in the next section.

## <a id="install-windows__section_891A3F2E92114707BC493D322F9B7BA7" class="no-quick-link"></a>Install with the Windows Installer

The native client can be installed on Windows by using the `Pivotal_GemFire_NativeClient_architecture_xxxx_bNNNN.msi` Windows installer, where *architecture* is **32bit** or **64bit**, *xxxx* represents the four-digit version of the product and b*NNNN* corresponds to the build number for the release. The installer requires `msiexec` version 3.0 or higher.

**Note:**
You must be logged in with administrative privileges or the MSI installation will fail.

Double-click the MSI file to start the installation. You are prompted to enter the installation location of the native client.

To complete the installation, the MSI installer automatically configures these native client system environment settings:

-   Sets the *GFCPP* environment variable to *productDir*, where *productDir* represents the location where you installed the native client.
-   Adds `%GFCPP%\bin` to the Windows *PATH.*
-   Installs Microsoft Visual C++ 2010 Redistributable Package for your platform architecture ([x86](http://www.microsoft.com/en-us/download/details.aspx?id=5555) or [x64](http://www.microsoft.com/en-us/download/details.aspx?id=14632)). This package contains runtime libraries required by the native client.

## <a id="install-windows__section_7186EF9239D4470C92CDA16E17F51367" class="no-quick-link"></a>Install from the MSI Command-Line

In addition to the standard Windows installer interface, the `Pivotal_GemFire_NativeClient_architecture_xxxx_bNNNN.msi` file provides a set of command-line installer options. This is an example of the installer command-line syntax:

``` pre
msiexec /q /i Pivotal_GemFire_NativeClient_architecture_xxxx_bNNNN.msi 
DEFAULT_INSTALLDIR=<path>
```

The following table lists common `msiexec` command-line options for use with `NativeClient_architecture_xxxx.msi`, along with an explanation of their usage. For a list of all command-line options, enter `msiexec/?`.

<a id="install-windows__tbl-msi-options"></a>

| Option                      | Explanation                                                         |
|-----------------------------|---------------------------------------------------------------------|
| `/q`                        | Creates a quiet installation with no interface or prompts.          |
| `/i`                        | Indicates that the product is to be installed or configured.        |
| `DEFAULT_INSTALLDIR=<path>` | Specifies the destination directory, if different from the default. |
| `/x`                        | Indicates a product uninstall procedure.                            |

: <span class="tablecap">Table 1. MSI Command-Line Options</span>

## <a id="install-windows__section_93E5390751F442BB8A3377814A81B105" class="no-quick-link"></a>Repair a Windows Installation

If problems occur with your Windows native client installation you can initiate a repair operation to restore any missing elements or registry settings.

1.  Double-click the MSI file, then click Next in the Setup Wizard screen.
2.  In the following screen, click the Repair button.
3.  In the next screen, click the Repair button.

