---
title:  Uninstalling the Native Client
---

How you uninstall the native client depends on your operating system.

## <a id="uninstall__section_D82AE460FF1D4D26896DBC21BFEAEF75" class="no-quick-link"></a>Uninstall on Linux and Solaris

On Linux and Solaris, delete the `NativeClient_Linux_architecture_xxxx_bNNNN` product directory or the `NativeClient_Solaris_architecture_xxxx_bNNNN` product directory and all of its subdirectories.

## <a id="uninstall__section_196B18FE0EC6475096B95C07FA6A18B1" class="no-quick-link"></a>Uninstall on Windows

Use the MSI installer graphical interface, its command-line interface, or the Windows Control Panel.

**Uninstall from MSI Installer Graphical Interface**

1.  Double-click the MSI file, then click Next in the Setup Wizard screen.
2.  In the following screen, click the Remove button.
3.  In the next screen, click the Remove button and then click Finish.

**Uninstall from MSI Installer Command-Line**

This is the MSI command-line syntax for a quiet uninstall:

``` pre
msiexec /q /x Pivotal_GemFire_NativeClient_architecture_xxxx_bNNNN.msi
 DEFAULT_INSTALLDIR=<path>
```

[MSI Command-Line Options](install-windows.html#install-windows__tbl-msi-options) lists common `msiexec` command-line options for use with `Pivotal_GemFire_NativeClient_architecture_xxxx_bNNNN.msi`, along with an explanation of their usage. For a list of all command-line options, enter `msiexec/?`.

The `/x` option uninstalls the product.

**Uninstall from the Control Panel**

1.  From the Control Panel, open Add or Remove Programs.
2.  Select **Pivotal GemFire Native Client \[*32bit or 64bit*\] \[*x.x.x.x*\]** (with the values appropriate for your installation.)
3.  Click the Remove button.

