---
title:  RHEL—Install Pivotal GemFire from RPM
---

If your guest operating system is Red Hat Enterprise Linux (RHEL), you have the option to use the RPM distribution to install Pivotal GemFire. Complete the installation procedure on every virtual and physical machine that will run GemFire.

<a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_0542F0A6358D4622858338C7620E18A4"></a>
When you install Pivotal GemFire on RHEL from RPM, the software is installed by default into `/opt/pivotal/Pivotal_GemFire_XXX` where *XXX* corresponds to the version of GemFire (for example, Pivotal\_GemFire\_820) that you have installed. The Pivotal GemFire installation is owned by the `gemfire` user in the `pivotal` group.

<a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_B7EABDDDA7B94F2DBB0E1C6D98FFECBD"></a>

## Prerequisites

The following tasks are prerequisites for installing Pivotal GemFire from RPM:

-   Confirm that your system meets the hardware and software requirements described in [Supported Configurations and System Requirements](../../supported_configs/supported_configs_and_system_reqs.html#concept_212CD306A0AC404F8F7874FF73A4A286).
-   From the [Pivotal GemFire product page](http://www.pivotal.io/big-data/pivotal-gemfire), locate **Downloads**.
-   Download the Pivotal GemFire RPM appropriate for your RHEL operating system.
    -   RHEL 6: `pivotal-gemfire-8.2.0-17919.el6.noarch.rpm`
    -   RHEL 7: `pivotal-gemfire-8.2.0-17919.el7.noarch.rpm`

**Note:**
You can also get Pivotal GemFire from your salesperson.

<a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_D3326496B2BB47A7AB0CFC1A5E266842"></a>

## Procedure

Use the following procedure to install Pivotal GemFire from RPM:

1.  From the RHEL computer on which you will install Pivotal GemFire, log in as the root user or as an unprivileged user.
2.  Execute the following `rpm` command. If necessary, use `sudo` to run the command as root. For example:

    **RHEL 6:**

    ``` pre
    prompt# sudo -E rpm -ivh pivotal-gemfire-8.2.0-17919.el6.noarch.rpm
    ```

    **RHEL 7:**

    ``` pre
    prompt# sudo -E rpm -ivh pivotal-gemfire-8.2.0-17919.el7.noarch.rpm
    ```

    The `rpm` command begins the install process, resolves dependencies, and displays the packages it plans to install.

3.  If the installation is successful, you see a `[100%]` installation status message. For example:

    ``` pre
    Preparing...                ########################################### [100%]
       1:pivotal-gemfire        ########################################### [100%]
    ```

    The `rpm` command:
    -   Installs Pivotal GemFire into the `/opt/pivotal/Pivotal_GemFireXXX` where *XXX* corresponds to the version of GemFire (for example, Pivotal\_GemFire\_820) that you have installed.
    -   If the user does not already exist, adds a `gemfire` non-interactive user (in a group called `pivotal`) and sets the owner of all directories and files under `/opt/pivotal` to `gemfire`.

        Note that you cannot login directly as the `gemfire` user because interactive login has been disabled. Rather, you must login as the root user or as a privileged user using `sudo`, and then `su - gemfire`.
    -   Sets up the commands listed in [Commands and Services Installed by the RPM](install_standalone_RHEL_nosuite.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_11055A5A811D482BBF95B248BC7D5394).

4.  Configure the JAVA\_HOME environment variable.

    If you will be using the `gfsh` command-line utility or managing servers and locators with the `ServerLauncher` and `LocatorLauncher` APIs, then you must set JAVA\_HOME to a JDK installation. For example:

    ``` pre
    JAVA_HOME=/usr/java/jdk1.8.0_60
    export JAVA_HOME
    ```

5.  Add GemFire scripts to your the PATH environment variable. For example:

    ``` pre
    PATH=$PATH:$JAVA_HOME/bin:/opt/pivotal/Pivotal_GemFire_820/bin
    export PATH
    ```

6.  The following step only applies to environments where you are running GemFire processes or GemFire client applications outside of gfsh. The gfsh (as well as the deprecated cacheserver) script sets these environment variables for you. If you are running GemFire processes or applications outside of gfsh, then configure the following environment variables for GemFire.
    -   Set the GEMFIRE environment variable to point to your GemFire installation top-level directory. (You should see `bin`, `lib`, `dtd`, and other directories under GEMFIRE.) The following variables definitions are examples; your installation path may vary depending on where you install GemFire and the version you are installing.

        ``` pre
        GEMFIRE=/opt/pivotal/Pivotal_GemFire_820
        export GEMFIRE
        ```
    -   Configure your GF\_JAVA environment variables as shown in these examples. GF\_JAVA must point to the `java` executable file under your JAVA\_HOME. (If you have not done so already, you should also set your JAVA\_HOME variable to a supported Java installation.)

        ``` pre
        GF_JAVA=$JAVA_HOME/bin/java
        export GF_JAVA  
        ```

7.  Type `gfsh version` at the command line and verify that the output lists the version of Pivotal GemFire that you wished to install. For example:

    ``` pre
    # gfsh version
    v8.2.0
    ```

    If you want more detailed version information such as the date of the build, build number and JDK version being used, type `gfsh version --full`.

8.  Repeat this procedure for every virtual or physical machine on which you will run Pivotal GemFire.
9.  If you need to uninstall GemFire, see [How to Uninstall GemFire](uninstall_gemfire.html#concept_B16847461FB8481191BD92D73902B4CC).

<a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_11055A5A811D482BBF95B248BC7D5394"></a>

## Commands and Services Installed by the RPM

When you install Pivotal GemFire from RPM, the RPM also installs the following:

-   Creates the symlink in `/usr/bin/gfsh` that points to the installed location of gfsh. This way the user can execute `gfsh` from any directory.
-   Installs a cacheserver service. This allows you to manage a default cache server with the following commands:

    ``` pre
    /sbin/service cacheserver start
    /sbin/service cacheserver stop
    /sbin/service cacheserver restart
    ```

**Note:** The installation of these commands and services is only available when installing from RPM.

The `cacheserver` service obtains its default configuration from `/etc/pivotal/gemfire/cacheserver.conf`.

Inside the configuration file, the following default properties are defined:

-   Location of the `cacheserver` script:

    ``` pre
    CACHESERVER_SCRIPT=/opt/pivotal/Pivotal_GemFire_800/bin/cacheserver
    ```

-   Current working directory for the server:

    ``` pre
    CACHESERVER_WORK_DIR=/var/log/pivotal/gemfire/cacheserver 
    ```

-   Declarative cache configuration for the cache server:

    ``` pre
    CACHE_XML_FILE=/opt/pivotal/gemfire/Pivotal_GemFire_800/defaultConfigs/cache.xml
    ```

-   Location of the gemfire.properties file for the cache server:

    ``` pre
    JAVA_OPTS="-DgemfirePropertyFile=/opt/pivotal/gemfire/Pivotal_GemFire_800/defaultConfigs/gemfire.properties"
    ```

    You can modify this configuration to point your cacheserver service to a customized `gemfire.properties` file. In `gemfire.properties`, you can specify the `name` property, which will allow you to manage this cache server using the `gfsh` command-line utility.

Edit the `cacheserver.conf` file to configure the `cacheserver` service. You can also define your own additional `cacheserver` services. See `/etc/sysconfig/cacheserver` for instructions.
