---
title:  OSX—Install Pivotal GemFire from a Homebrew Package
---

If your operating system is Mac OSX, you can install Pivotal GemFire from a Homebrew package.

## <a id="concept_p25_drl_xm__section_4EE9DCBEF2014E6795E1B7CF623AB77F" class="no-quick-link"></a>Prerequisites

-   Confirm that your system meets the hardware and software requirements described in [Supported Configurations and System Requirements](../../supported_configs/supported_configs_and_system_reqs.html).
-   If you have not already done so, download and install a compatible JDK for your system.

## <a id="concept_p25_drl_xm__section_8845CAF829244ECBA9982122A9B43586" class="no-quick-link"></a>Procedure

1.  From the OSX computer on which you will install GemFire, open a terminal window.
2.  If you previously installed GemFire using Homebrew, execute this untap command to ensure a clean update:

    ``` pre
    $ brew untap pivotal/tap
    ```

3.  In the terminal window, enter this command to install Homebrew, if you have not already installed it:

    ``` pre
    $ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
    ```

4.  Execute this command to install Pivotal GemFire:

    ``` pre
    $ brew tap pivotal/tap && brew install gemfire
    ```

    This starts the install process, resolves dependencies, and displays the packages it will install. The GemFire software is installed into the `/usr/local/Cellar/gemfire/version` directory where version corresponds to the latest version of GemFire you just installed (for example, 8.2.0). Note that Homebrew installs the executables such as `gfsh` in the `/usr/local/Cellar/gemfire/version/bin` directory and creates symbolic links to the GemFire executables in `/usr/local/bin`. All other GemFire product files including SampleCode and HTTP module installers are installed in `/usr/local/Cellar/gemfire/version/libexec`.

5.  Configure your JAVA\_HOME environment variable to point to [a supported version of Java](../../supported_configs/supported_configs_and_system_reqs.html). For example, you can add the following line to your `.bash_profile`:

    ``` pre
    JAVA_HOME=$(/usr/libexec/java_home)
    ```

6.  Type `gfsh version` at the command line and verify that the output lists the version of Pivotal GemFire that you wished to install. For example:

    ``` pre
    # gfsh version
    v8.2.0
    ```

    If you want more detailed version information such as the date of the build, build number and JDK version being used, type `gfsh version --full`.

7.  You may also need to ensure that the host name of your machine is configured in your system hosts file. For example, you may need to map your machine's hostname to your IP address in the /etc/hosts file in order for gfsh and Pulse to operate correctly.
8.  If you need to uninstall GemFire, see [How to Uninstall GemFire](uninstall_gemfire.html#concept_B16847461FB8481191BD92D73902B4CC).
