---
title: Tanzu GemFire 9.15 Release Notes
---

Tanzu GemFire is based on Apache Geode, and they share a common set of documentation.
Therefore, references to both Tanzu GemFire and Apache Geode appear
throughout this documentation; consider them equivalents.

## <a id="topic_whatsnew-91015"></a>What's New in Tanzu GemFire 9.15

## <a id="support"></a> Support

General support includes security vulnerability resolutions and critical bug fixes in all supported minor versions, while other maintenance is applied only to the latest supported minor release.

## Obtaining and Installing Security Updates

New versions of Tanzu GemFire often include important security fixes, so VMware recommends you keep up to date with the latest releases.

For details about any security fixes in a particular release, see the [Application Security Team page](http://www.pivotal.io/security).
