# Tanzu GemFire 9.15 Release Notes

Tanzu GemFire is based on Apache Geode, and they share a common set of documentation.
Therefore, references to both Tanzu GemFire and Apache Geode appear
throughout this documentation; consider them equivalents.

## <a id="topic_whatsnew-91015"></a>What's New in Tanzu GemFire 9.15

GemFire/Geode Realignment
:    GemFire 9.15 is based on Geode 1.15. The previous release of GemFire, v9.10, was based on Geode 1.12.
With the GemFire 9.15 release, GemFire now incorporates all of the improvements introduced in Geode versions 1.13, 1.14, and 1.15.
From this point forward, GemFire releases will always be based on the latest version of Geode available at the time of the GemFire release.

Token Refresh
:    This release introduces additional security by including the ability for tokens to refresh.  When a client is connected and the authentication token has expired, they will now need to provide a new / refreshed token.

Geode for Redis
:    GemFire can now be used with Redis clients.  This offers our customers the consistency and high-availablity of GemFire with minimal changes needed to exisiting applications using Redis.  This first release offers compatibility for more than 100 Redis commands, including Strings, Hashes, Sets, Sorted Sets, and Pub/Sub.  To get started check out the documentation.

Default GemFire property value changed
:    The conserve sockets GemFire property default value has changed from `true` to `false`.

GEODE-9982, GEM-3509:    protocol alignment / client-server handshake fix
:    customers using Native Client will need to upgrade to at least 10.2.7 before upgrading GemFire server version.

Tanzu Observability
:    With the prometheus metrics jar now on the classpath for 9.15 (or so the plan is) documentation around use of Tanzu Observability by Wavefront from 9.10 here will need to be tweaked. https://gemfire.docs.pivotal.io/910/gemfire/tools_modules/tanzu-observability.html.
And here too:
https://gemfire.docs.pivotal.io/910/geode/tools_modules/micrometer/micrometer-configuration.html"

Connection Reauthorization
:    Until this change connections were authorized in GemFire are for the life time of the connection. This is problematic when an application or admin has their permissions revoked. GemFire security now have the ability for connections to be re-authenticated.

## <a id="support"></a> Support

General support includes security vulnerability resolutions and critical bug fixes in all supported minor versions, while other maintenance is applied only to the latest supported minor release.

## Obtaining and Installing Security Updates

New versions of Tanzu GemFire often include important security fixes, so VMware recommends you keep up to date with the latest releases.

For details about any security fixes in a particular release, see the [Application Security Team page](http://www.pivotal.io/security).
