---
title:  Upgrading Clients
---

When you upgrade your GemFire server software, you may need to update your client applications in order to maintain
compatibility with the upgraded servers. To support real-world implementations, servers can usually interoperate with a few
different versions of the client software. In general, you will have best performance and reliability if:

- All clients run the same version of the client software.
- Clients and servers both run the latest versions of their respective software.

GemFire server and native client software releases follow similar numbering schemes, but they are not released in lockstep.
See the [*<%=vars.product_name%> Native Client User's Guide*](http://gemfire-native.docs.pivotal.io) for more detailed information regarding version compatibility.

Changes you may need to make when you update, recompile, and link your client code include:

- Removing or replacing obsolete identifiers
- Renaming packages
- Reinstating secure client/server messaging

## <a id="remove-replace-obsolete-identifiers"></a>Remove or Replace Obsolete Identifiers

Review the Release Notes for a list of classes, methods, and other identifiers that are no longer present in the current release.
Update client code so it no longer uses any of these removed identifiers.
