---
title:  RHEL—Upgrade Pivotal GemFire from RPM
---

If your guest operating system is Red Hat Enterprise Linux (RHEL) and you have installed a previous version of standalone GemFire using RPM, Pivotal recommends that you use RPM distribution to upgrade Pivotal GemFire. You complete the upgrade procedure on every virtual and physical machine that will run GemFire.

<a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_0542F0A6358D4622858338C7620E18A4"></a>
**Note:**
Thoroughly test your development systems with the new version before moving into production.

When you upgrade Pivotal GemFire on RHEL from RPM, the software is installed by default into `/opt/pivotal/Pivotal_GemFire_XXX` where *XXX* corresponds to the version of GemFire (for example, Pivotal\_GemFire\_820) that you have installed. The Pivotal GemFire installation is owned by the `gemfire` user in the `pivotal` group.

**Note:**
To upgrade your existing GemFire installation, Pivotal recommends that you use the `rpm -Uvh` command. This includes those upgrading from a VMware vFabric RPM installation.

When you upgrade Pivotal GemFire using the RPM, the upgrade process installs the new version into its own installation directory (`/opt/pivotal/Pivotal_GemFire_XXX` where XXX corresponds to the newly installed version). Any older GemFire RPM installations (including those installed with VMware vFabric RPMs) will be removed. Data files from those installations will not be removed and should be moved manually to the new Pivotal installation.

## <a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_B7EABDDDA7B94F2DBB0E1C6D98FFECBD" class="no-quick-link"></a>Prerequisites

Before you upgrade, complete the following prerequisites:

-   Confirm that your system meets the hardware and software requirements described in [Supported Configurations and System Requirements](../../supported_configs/supported_configs_and_system_reqs.html).
-   Read [Before You Upgrade](upgrade_from.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425).
-   Use the following steps to download the Pivotal GemFire RPM.
    -   From the [Pivotal GemFire product page](http://www.pivotal.io/big-data/pivotal-gemfire), locate **Downloads**.
    -   Download the Pivotal GemFire RPM appropriate for your RHEL operating system.
        -   RHEL 6: `pivotal-gemfire-8.2.0-17919.el6.noarch.rpm`
        -   RHEL 7: `pivotal-gemfire-8.2.0-17919.el7.noarch.rpm`

## <a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_D3326496B2BB47A7AB0CFC1A5E266842" class="no-quick-link"></a>Procedure for Upgrading Pivotal GemFire 6.x.x to 8.2.x

Use the following procedure to upgrade Pivotal GemFire 6.x.x to 8.2.x using RPM:

1.  Review the items listed in [Prerequisites](upgrade_standalone_RHEL.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_B7EABDDDA7B94F2DBB0E1C6D98FFECBD) and make any appropriate preparations.
2.  Stop all members of the system running with the prior 6.x.x version.
    1.  Shut down all members running a cache by using the `gemfire shut-down-all` command:

        ``` pre
        sudo -u gemfire -E gemfire –J-DgemfirePropertyFile=mygemfire.properties shut-down-all
        ```

        In the sample command, substitute *mygemfire.properties* with the location of the previous Pivotal GemFire's gemfire.properties file for the distributed system you are shutting down.

    2.  Shut down any locators. To shut down a locator in 6.x.x deployments, issue the following command:

        ``` pre
        gemfire stop-locator -port=port -address=ipAddr -dir=locatorDir
        ```

        Replace *port*, *ipAddr* and *locatorDir* with the appropriate values.

    3.  Make backups of your disk store files.

    See [Shutting Down Your System](http://pubs.vmware.com/vfabric52/topic/com.vmware.vfabric.gemfire.6.6/deploying/topics/shutting_down.html) in the GemFire 6.6 documentation set for more details.
3.  Execute the following `rpm` command. If necessary, use `sudo` to run the command either as root or as the `gemfire` user. For example:

    **RHEL 6:**

    ``` pre
    prompt# sudo -u gemfire -E rpm -Uvh pivotal-gemfire-8.2.0-17919.el6.noarch.rpm
    ```

    **RHEL 7:**

    ``` pre
    prompt# sudo -u gemfire -E rpm -Uvh pivotal-gemfire-8.2.0-17919.el7.noarch.rpm
    ```

    The `rpm` command begins the install process, resolves dependencies, and displays the packages it plans to install.

4.  Repeat this upgrade procedure for every virtual or physical machine on which you will run Pivotal GemFire.
5.  Recompile your Java applications against the `gemfire.jar` in the 8.2.0 version of the product.
6.  Upgrade your disk store files. If you are upgrading from GemFire 6.5.x or 6.6.x, run the `gfsh` command `upgrade offline-disk-store` tool to upgrade the disk stores to Pivotal Gemfire 8.2.x. See [upgrade offline-disk-store](../../tools_modules/gfsh/command-pages/upgrade.html) for more information.
7.  Redeploy your environment's configuration files to the new version's installation. For example, you may need to do one of the following tasks depending on your GemFire deployment configuration:
    -   If you are want to use the cluster configuration service to configure your entire cluster, see [Loading Existing Configuration Files into Cluster Configuration](../../../geode/configuring/cluster_config/gfsh_load_from_shared_dir.html).
    -   If you are using local configuration files, update each set of configuration files that are local to the distributed system you are upgrading. See [Deploying Configuration Files without the Cluster Configuration Service](../../../geode/configuring/running/deploying_config_files.html) for more information on how to deploy configuration files.

8.  Point all member sessions to the new installation of GemFire. For example, you may need to do one of the following tasks depending on your application's configuration:
    -   Modify your applications to point to the new GemFire product tree location.
    -   Copy the `gemfire.jar` file out of the new GemFire product tree location and replace the existing `gemfire.jar` file in your application.

9.  Restart all system members according to your usual procedures. See [Starting Up and Shutting Down Your System](../../../geode/configuring/running/starting_up_shutting_down.html) for more information.

## <a id="concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_F2B9082FA1FF4B2DBB08F110EC4D3B1B" class="no-quick-link"></a>Procedure for Upgrading Pivotal GemFire 7.0.x to 8.2.0

The following procedure describes how to upgrade from Pivotal GemFire 7.0.x to 8.2.0.

1.  Review the items listed in [Prerequisites](upgrade_standalone_RHEL.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425__section_B7EABDDDA7B94F2DBB0E1C6D98FFECBD) and make any appropriate preparations.
2.  Stop all members of the system running with the prior version. For example:
    1.  Open a gfsh prompt.
    2.  Make sure you are connected (via its JMX Manager) to the distributed system you wish to shutdown.
    3.  At the gfsh prompt, type:

        ``` pre
        gfsh>shutdown
        ```

    4.  Type **Y** at the prompt to shut down your entire distributed system.
    5.  Shut down each locator in the distributed system by using the `stop locator` command. For example:

        ``` pre
        gfsh>stop locator --name=locator_name
        ```

    6.  Make backups of your disk store files.

    See [Starting Up and Shutting Down Your System](../../../geode/configuring/running/starting_up_shutting_down.html) for more details.
3.  Execute the following `rpm` command. If necessary, use `sudo` to run the command either as root or as the `gemfire` user. For example:

    **RHEL 6:**

    ``` pre
    prompt# sudo -u gemfire -E rpm -Uvh pivotal-gemfire-8.2.0-17919.el6.noarch.rpm
    ```

    **RHEL 7:**

    ``` pre
    prompt# sudo -u gemfire -E rpm -Uvh pivotal-gemfire-8.2.0-17919.el7.noarch.rpm
    ```

    The `rpm` command begins the install process, resolves dependencies, and displays the packages it plans to install.

4.  Repeat this upgrade procedure for every virtual or physical machine on which you will run Pivotal GemFire.
5.  Redeploy your environment's configuration files to the new version's installation. For example, you may need to do one of the following tasks depending on your GemFire deployment configuration:
    -   If you are want to use the cluster configuration service to configure your entire cluster, see [Loading Existing Configuration Files into Cluster Configuration](../../../geode/configuring/cluster_config/gfsh_load_from_shared_dir.html).
    -   If you are using local configuration files, update each set of configuration files that are local to the distributed system you are upgrading. See [Deploying Configuration Files without the Cluster Configuration Service](../../../geode/configuring/running/deploying_config_files.html) for more information on how to deploy configuration files.

6.  Point all member sessions to the new installation of GemFire. For example, you may need to do one of the following tasks depending on your application's configuration:
    -   Modify your applications to point to the new GemFire product tree location.
    -   Copy the gemfire.jar file out of the new GemFire product tree location and replace the existing gemfire.jar file in your application.

7.  Restart all system members according to your usual procedures. See [Starting Up and Shutting Down Your System](../../../geode/configuring/running/starting_up_shutting_down.html) for more information.
