---
title:  OSX—Upgrade Pivotal GemFire from a Homebrew Package
---

If your operating system is Mac OSX, you can upgrade Pivotal GemFire from a Homebrew package.

<a id="concept_p25_drl_xm__section_4EE9DCBEF2014E6795E1B7CF623AB77F"></a>
## Prerequisites

-   Confirm that your system meets the hardware and software requirements described in [Supported Configurations and System Requirements](../../supported_configs/supported_configs_and_system_reqs.html).
-   If you have not already done so, download and install a compatible JDK for your system.
-   Read [Before You Upgrade](upgrade_from.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425).

<a id="concept_p25_drl_xm__section_8845CAF829244ECBA9982122A9B43586"></a>

## Procedure

1.  From the OSX computer on which you will install GemFire, open a terminal window.
2.  Untap Pivotal:

    ``` pre
    $ brew untap pivotal/tap
    ```

3.  Retap Pivotal:

    ``` pre
    $ brew tap pivotal/tap
    ```

4.  Upgrade GemFire to the latest version:

    ``` pre
    $ brew upgrade gemfire
    ```

    This starts the upgrade process, resolves dependencies, and displays the new packages it will install. The latest GemFire software is installed into the `/usr/local/Cellar/gemfire/version` directory where version corresponds to the version of GemFire you are upgrading to. Note that Homebrew installs the executables such as `gfsh` in the `/usr/local/Cellar/gemfire/version/bin` directory and creates symbolic links to the GemFire executables in `/usr/local/bin`. All other GemFire product files including SampleCode and HTTP module installers are installed in `/usr/local/Cellar/gemfire/version/libexec`.

5.  Configure the JAVA\_HOME environment variable.

    If you will be using the `gfsh` command-line utility or managing servers and locators with the `ServerLauncher` and `LocatorLauncher` APIs, then you must set JAVA\_HOME to a JDK installation. For example:

    -   On OS X 10.9 (Mavericks) or later:

        ``` pre
        export JAVA_HOME='/usr/libexec/java_home -v  1.7'
        ```

    -   On OS X 10.8.X

        ``` pre
        export JAVA_HOME="$(/usr/libexec/java_home)"
        ```

6.  Type `gfsh version` at the command line and verify that the output lists the version of Pivotal GemFire that you wished to install. For example:

    ``` pre
    # gfsh
    v8.2.0
    ```

    If you want more detailed version information such as the date of the build, build number and JDK version being used, type `gfsh             version --full`.


