---
title:  Windows/Unix/Linux—Upgrade Pivotal GemFire from a ZIP or tar.gz File
---

For all other OS users, upgrade Pivotal GemFire on every virtual and physical machine that will run GemFire.

<a id="concept_FA0B3E52444B46E3BC3B1F6853876987__section_FA3180DC84F14DEBBE972A7968D3E4BF"></a>
## Procedure for Upgrading Pivotal GemFire 6.X to 8.2.X

Use the following procedure to upgrade your Pivotal GemFire deployment:

**Note:**
Thoroughly test your development systems with the new version before moving into production.

1.  Review the items listed in [Before You Upgrade](upgrade_from.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425) and make any appropriate preparations.
2.  Install the latest version of GemFire in a *different directory* than the existing version. See [Windows/Unix/Linux—Install Pivotal GemFire from a ZIP or tar.gz File](../installation/install_standalone.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425).
    **Note:**
    GemFire is installed as a complete product, rather than as a modification to a prior version. In addition, the Java JRE runtime environment is not bundled with GemFire, so you need to have an appropriate JDK or JRE installed and configured to comply with GemFire requirements and your unique system needs. See [Supported Configurations and System Requirements](../../supported_configs/supported_configs_and_system_reqs.html) for the configuration requirements of GemFire 8.2.x.

3.  Review the changes and upgrade notes that are documented in the Pivotal GemFire Release Notes.
    -   Review the Pivotal GemFire 8.0.x Release Notes that are available at [http://gemfire.docs.pivotal.io/index.html](http://gemfire.docs.pivotal.io/index.html). Make any changes to your applications that are required for you to migrate to this version.
    -   Review the Pivotal GemFire 7.0.x Release Notes that are available at [http://gemfire.docs.pivotal.io/index.html](http://gemfire.docs.pivotal.io/index.html) and [https://www.vmware.com/support/pubs/vfabric-gemfire.html](https://www.vmware.com/support/pubs/vfabric-gemfire.html). Make any changes to your applications that are required for you to migrate to this version.
    -   If you are upgrading to 8.0.x from a version earlier than GemFire 6.6, review all changes documented in the Pivotal GemFire 6.6.x Release Notes. (At [https://www.vmware.com/support/pubs/vfabric-gemfire.html](https://www.vmware.com/support/pubs/vfabric-gemfire.html), select Release 6.6.x.) Make any changes to your programs required for you to migrate to this version.

4.  Recompile your Java applications against the `gemfire.jar` in this version of the product. After you have recompiled your Java applications, the location where you place the updated JARs will vary depending on your configuration. You may put them in the GemFire product tree or you could directly copy in the `gemfire.jar` file to a location appropriate for your application.
5.  Stop all members of the system running with the prior 6.x.x version.
    1.  Shut down all members running a cache by using the `gemfire shut-down-all` command:

        ``` pre
        sudo -u gemfire -E gemfire –J-DgemfirePropertyFile=mygemfire.properties shut-down-all
        ```

        In the sample command, substitute *mygemfire.properties* with the location of the previous Pivotal GemFire's gemfire.properties file for the distributed system you are shutting down.

    2.  Shut down any locators. To shut down a locator in 6.x.x deployments, issue the following command:

        ``` pre
        gemfire stop-locator -port=port -address=ipAddr -dir=locatorDir
        ```

        Replace *port*, *ipAddr* and *locatorDir* with the appropriate values.

    See [Shutting Down Your System](http://pubs.vmware.com/vfabric52/topic/com.vmware.vfabric.gemfire.6.6/deploying/topics/shutting_down.html) in the Pivotal GemFire 6.6 documentation set for more details.
6.  Upgrade your disk store files. If you are upgrading from GemFire 6.5.x or 6.6.x, run the `gfsh` command `upgrade offline-disk-store` tool to upgrade the disk stores to Pivotal Gemfire 8.2.x. See [upgrade offline-disk-store](../../tools_modules/gfsh/command-pages/upgrade.html) for more information.
7.  Redeploy your environment's configuration files to the new version's installation. For example, you may need to do one of the following tasks depending on your GemFire deployment configuration:
    -   If you are want to use the cluster configuration service to configure your entire cluster, see [Loading Existing Configuration Files into Cluster Configuration](../../../geode/configuring/cluster_config/gfsh_load_from_shared_dir.html).
    -   If you are using local configuration files, update each set of configuration files that are local to the distributed system you are upgrading. See [Deploying Configuration Files without the Cluster Configuration Service](../../../geode/configuring/running/deploying_config_files.html) for more information on how to deploy configuration files.

8.  Point all member sessions to the new installation of GemFire. For example, you may need to do one of the following tasks depending on your application's configuration:
    -   Modify your applications to point to the new GemFire product tree location.
    -   Copy the `gemfire.jar` file out of the new GemFire product tree location and replace the existing gemfire.jar file in your application.

9.  Restart all system members according to your usual procedures. See [Starting Up and Shutting Down Your System](../../../geode/configuring/running/starting_up_shutting_down.html) for more information.

<a id="concept_FA0B3E52444B46E3BC3B1F6853876987__section_F2B9082FA1FF4B2DBB08F110EC4D3B1B"></a>

## Procedure for Upgrading Pivotal GemFire 7.0.x to 8.2.0

The following procedure describes how to upgrade your entire distributed system from Pivotal GemFire 7.0.x to 8.2.0.

1.  Review the items listed in [Before You Upgrade](upgrade_from.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425) and make any appropriate preparations.
2.  Install the latest version of GemFire in a *different directory* than the existing version. See [Windows/Unix/Linux—Install Pivotal GemFire from a ZIP or tar.gz File](../installation/install_standalone.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425).
    **Note:**
    GemFire is installed as a complete product, rather than as a modification to a prior version. The Java JRE runtime environment is not bundled with GemFire, so you need to have an appropriate JDK or JRE installed and configured to comply with GemFire requirements and your unique system needs.

3.  Repeat this upgrade procedure for every virtual or physical machine on which you will run Pivotal GemFire.
4.  Stop all members of the system running with the prior version. For example, using the `gfsh shutdown` command:
    1.  Open a gfsh prompt.
    2.  Make sure you are connected (via its JMX Manager) to the distributed system you wish to shutdown.
    3.  At the gfsh prompt, type:

        ``` pre
        gfsh>shutdown
        ```

    4.  Type **y** at the prompt to shutdown your entire distributed system.
    5.  Shut down each locator in the distributed system by using the `stop locator` command. For example:

        ``` pre
        gfsh>stop locator (-)name=locator_name
        ```

    See [Starting Up and Shutting Down Your System](../../../geode/configuring/running/starting_up_shutting_down.html) for more details.
5.  Redeploy your environment's configuration files to the new version's installation. For example, you may need to do one of the following tasks depending on your GemFire deployment configuration:
    -   If you are want to use the cluster configuration service to configure your entire cluster, see [Loading Existing Configuration Files into Cluster Configuration](../../../geode/configuring/cluster_config/gfsh_load_from_shared_dir.html).
    -   If you are using local configuration files, update each set of configuration files that are local to the distributed system you are upgrading. See [Deploying Configuration Files without the Cluster Configuration Service](../../../geode/configuring/running/deploying_config_files.html) for more information on how to deploy configuration files.

6.  Point all member sessions to the new installation of GemFire. For example, you may need to do one of the following tasks depending on your application's configuration:
    -   Modify your applications to point to the new GemFire product tree location.
    -   Copy the gemfire.jar file out of the new GemFire product tree location and replace the existing gemfire.jar file in your application.

7.  Restart all system members according to your usual procedures. See [Starting Up and Shutting Down Your System](../../../geode/configuring/running/starting_up_shutting_down.html) for more information.
