---
title:  Before You Upgrade
---

This section provides information you need to know before you begin to upgrade <span class="keyword">Pivotal GemFire</span>.

-   During an upgrade from one major <span class="keyword">GemFire</span> version to another, you cannot connect members in the same distributed system to other members running a different major version. Therefore, you cannot perform a rolling upgrade between major versions of <span class="keyword">Pivotal GemFire</span> and will need to plan your system downtime accordingly. See [Pivotal GemFire Version Compatibility Rules](version_compatiblity.html#concept_B494F3558DC34E3FA32FAD91EFBA19B0) for more information on <span class="keyword">GemFire</span> version interoperability.
-   Read the <span class="keyword">Pivotal GemFire</span> Release Notes at [http://gemfire.docs.pivotal.io/index.html](http://gemfire.docs.pivotal.io/index.html) to familiarize yourself with all feature changes.
-   Know how to configure environment variables for your system.
-   Confirm that your system meets the requirements to run <span class="keyword">GemFire</span>. See [Supported Configurations and System Requirements](../../supported_configs/supported_configs_and_system_reqs.html#concept_212CD306A0AC404F8F7874FF73A4A286).
    **Note:**
    To check your current Java version, type `java -version` at a command-line prompt. You can download Sun/Oracle Java SE from the following location: [http://www.oracle.com/technetwork/java/javase/downloads/index.html](http://www.oracle.com/technetwork/java/javase/downloads/index.html).

-   If you are upgrading from <span class="keyword">GemFire</span> 6.6, you must run the `gfsh` command `upgrade offline-disk-store` tool to upgrade the disk stores to <span class="keyword">Pivotal GemFire</span> 8.0.x.


