---
title:  Pivotal GemFire Version Compatibility Rules
---

This topic describes the compatibility rules for deploying different versions of Pivotal GemFire.


<!--  NO ROLLING UPGRADES to 9.0.0 Beta 
## Version Compatibility Between Peers and Cache Servers

You can have peers or cache servers running Pivotal GemFire 8.2.0 together with Pivotal GemFire 8.1 or 8.0 versions at the same time for the purposes of a rolling upgrade.


See [Performing a Rolling Upgrade](rolling_upgrade.html#concept_FBBBC26ADD98482EABB9AB01A14F895E) for more details on how to upgrade your system between major versions without taking your entire cluster offline. To view which versions of GemFire are currently running in your cluster, see [Checking Member Versions in a Mixed Cluster](member_version_check.html#concept_bym_bn2_44).

**Note:**
After you have upgraded all your locators during a rolling upgrade, *do not start or restart* any members that are running an older version of the software. These processes will either not be allowed to join the distributed system; or if allowed to join, can potentially cause a deadlock.
-->

## <a id="concept_B494F3558DC34E3FA32FAD91EFBA19B0__section_1D0AED93A2964300AB50818B4A8437D9" class="no-quick-link"></a>Version Compatibility Between Clients and Servers

GemFire clients can run version 8.2.2 of GemFire and still connect to GemFire servers running
version 9.0. Version 9.0 clients, however, cannot connect to servers running older versions of GemFire.

## <a id="concept_B494F3558DC34E3FA32FAD91EFBA19B0__section_FA2F2313FF1B4B02AB68427B406DF572" class="no-quick-link"></a>Version Compatibility Between Sites in Multi-Site (WAN) Deployments

In multi-site (WAN) deployments, one site can be running GemFire 8.2.2 and another site running GemFire
9.0 and the sites should still be able to communicate with one another.
