---
title: Product Snapshot
---

 <!-- 
 Copyright (c) VMware, Inc. 2022. All rights reserved.
 Licensed to the Apache Software Foundation (ASF) under one or more contributor license
 agreements. See the NOTICE file distributed with this work for additional information regarding
 copyright ownership. The ASF licenses this file to You under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance with the License. You may obtain a
 copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software distributed under the License
 is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 or implied. See the License for the specific language governing permissions and limitations under
 the License.
 -->

The following table provides version and version-support information about Pivotal Cloud Cache:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>1.9.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>January 31, 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>GemFire v9.8.6</td>
    </tr>
    <tr>
        <td>Minimum Pivotal GemFire Native Client version</td>
        <td><%=vars.product_version_gfnc%></td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.6, v2.7, v2.10</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.6.x, v2.7.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>Required BOSH stemcell version</td>
        <td>Xenial v621.41 or a more recent version</td>
    </tr>
    <tr>
        <td>Minimum Java buildpack version required for apps</td>
        <td>v4.18</td>
    </tr>
</table>

<%# The below partial is in https://github.com/pivotal-cf/docs-partials %>

<%= partial '../../p-cloud-cache/partials/cloudcache/version-table' %>
