---
title: VMware Tanzu GemFire for VMs Release Notes
---

## <a id='v115'></a>v1.15

**Release Date:**  Month date, 2021

Features included in this release:

- Version history item goes here.
- This version of <%=vars.product_full%> runs Apache Geode v1.15.0.
- <%=vars.product_short%> supports <%=vars.app_runtime_full%> version 2.11.

