---
title: Configuring User Account and Authentication (UAA) Roles
---

 <!-- 
 Copyright (c) VMware, Inc. 2022. All rights reserved.
 Licensed to the Apache Software Foundation (ASF) under one or more contributor license
 agreements. See the NOTICE file distributed with this work for additional information regarding
 copyright ownership. The ASF licenses this file to You under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance with the License. You may obtain a
 copy of the License at
 
 http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software distributed under the License
 is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express
 or implied. See the License for the specific language governing permissions and limitations under
 the License.
 -->

This topic describes how to configure User Account and Authentication (UAA) roles.

<p class="note warning"><strong>Warning</strong>: The UAA roles are not the same as the default roles used by GemFire for VMs when external authentication has not been activated. For information about the default roles, see <a href="https://docs.vmware.com/en/VMware-Tanzu-GemFire-for-VMs/1.14/tgf-vms/GUID-content-security.html#security-within-the-cluster">Security within the Cluster</a> in <em>Security</em>.<p>

## <a id="overview"></a>Overview

VMware GemFire for VMs service instances include predefined security roles for use with UAA.
Each role has specific permissions for cluster operations.
Each user is assigned one or more of these roles.

When a user invokes a cluster operation using `gfsh`, the security manager for the
VMware GemFire for VMs service verifies that at least one of the user's security roles
has the permissions required to perform the cluster operation.

The cluster within a GemFire for VMs service instance implements role-based authentication and authorizes cluster operations based upon the roles. Two sets of roles exist:

* **UAA Roles**: A set of roles for GemFire for VMs instances that integrate with external authentication like LDAP.

* **Default Roles**: The default roles used by GemFire for VMs when no external authentication was integrated during the GemFire for VMs tile installation.

This topic describes how to configure **UAA roles**. For information about the default roles, see [Security within the Cluster](https://docs.vmware.com/en/VMware-Tanzu-GemFire-for-VMs/1.14/tgf-vms/GUID-content-security.html#security-within-the-cluster) in _Security_.

## <a id="prerequisites"></a>Prerequisites

1. Before installing VMware GemFire for VMs and configuring UAA roles, you must create a UAA client.
For more information, see [Create a User Account and Authentication (UAA) Client](create-UAA-client.html). Record the UAA client name and client secret.

1. Before configuring UAA roles, you must activate UAA Authorization within the VMware Tanzu GemFire tile:

    1. In the Ops Manager Installation Dashboard, open the VMware Tanzu GemFire tile.
    1. Open the Security pane.
    1. Select the **UAA Auth enable** radio button and input the UAA client name and client secret when prompted.

For more information about configuring the VMware Tanzu GemFire tile, see [Installing and Configuring VMware Tanzu GemFire](https://docs.vmware.com/en/VMware-Tanzu-GemFire-for-VMs/1.14/tgf-vms/GUID-content-install-configure.html).

## <a id="security-roles"></a>VMware GemFire for VMs Predefined UAA Security Roles

VMware GemFire for VMs predefined security roles for use with UAA and permissions:

<table>
  <colgroup>
    <col width="33%" />
    <col width="34%" />
    <col width="33%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th>Security Role Name</th>
      <th>Permissions</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>PCC_ADMIN</strong></td>
      <td>
        <code>CLUSTER:MANAGE</code><br><br>
        <code>CLUSTER:WRITE</code><br><br>
        <code>CLUSTER:READ</code><br><br>
        <code>DATA:MANAGE</code><br><br>
        <code>DATA:WRITE</code><br><br>
        <code>DATA:READ</code>
      </td>
      <td>All permissions required to manage the cluster and access region data.</td>
    </tr>
    <tr>
      <td><strong>PCC_OPERATOR</strong></td>
      <td>
        <code>CLUSTER:MANAGE</code><br><br>
        <code>CLUSTER:WRITE</code><br><br>
        <code>CLUSTER:READ</code>
      </td>
      <td>All permissions required to manage the cluster. Cannot access region data.</td>
    </tr>
    <tr>
      <td><strong>PCC_DATA-ACCESS</strong></td>
      <td>
        <code>CLUSTER:READ</code><br><br>
        <code>DATA:MANAGE</code><br><br>
        <code>DATA:WRITE</code><br><br>
        <code>DATA:READ</code>
      </td>
      <td>All permissions required to access region data. Cannot manage the cluster.</td>
    </tr>
    <tr>
      <td><strong>PCC_READ-ONLY</strong></td>
      <td>
        <code>DATA:READ</code>
      </td>
      <td>Can view region data. Cannot manage the cluster or manipulate region data.</td>
    </tr>
  </tbody>
</table>

## <a id="configure-uaa-roles"></a>Configure the Roles

Before configuring the UAA roles, you must configure VMware GemFire for VMs to use UAA. For more information, see [Prerequisites](#prerequisites).

Configure the UAA server and your external authentication system, such as LDAP, with the Space-specific roles as follows:

1. In a terminal window, log in to the Cloud Foundry CLI and your Org. For example:

    ```
    cf login
    cf target -o NAME-OF-ORG
    ```
    Where `NAME-OF-ORG` is the name of your Org.

1. Retrieve and record the GUID of the Space that will host your VMware GemFire for VMs service instance using the command below. You use this GUID to create Space-specific groups within your Enterprise SSO system in the next step.

    ```
    cf space --guid NAME-OF-SPACE
    ```
    Where `NAME-OF-SPACE` is the name of the Space that will host your VMware GemFire for VMs service instance.

    The form of the output GUID will be similar to this example:

    ````
    03badc2a-4243-4251-84b5-c9bfba276f04
    ````

1. Create Space-specific groups for each of the UAA roles within your Enterprise SSO system. The name of each group is the name of the UAA role followed by an underscore character, followed by the GUID of the Space that you recorded in the previous step.

    Using the Space GUID in the example above, the names of the groups would be:
    * **PCC_ADMIN** group: `PCC_ADMIN_03badc2a-4243-4251-84b5-c9bfba276f04`
    * **PCC_OPERATOR** group: `PCC_OPERATOR_03badc2a-4243-4251-84b5-c9bfba276f04`
    * **PCC_DATA-ACCESS** group: `PCC_DATA-ACCESS_03badc2a-4243-4251-84b5-c9bfba276f04`
    * **PCC_READ-ONLY** group: `PCC_READ-ONLY_03badc2a-4243-4251-84b5-c9bfba276f04`

3. Assign users to these Space-specific groups within your Enterprise SSO system.

4. In a terminal window, use the UAA Command Line Interface (UAAC) to log in as `admin client`
to your UAA server.

5.  Use the UAAC to add each group name to the UAA server by running the following command for each group:

    ```
    uaac group add ROLE_SPACEGUID
    ```
    Where `ROLE_SPACEGUID` is a group name that you created in a previous step.

    For example, using the group name from above, the following commands add the groups to the UAA server:

    <pre class="terminal">
    $ uaac group add PCC_ADMIN_03badc2a-4243-4251-84b5-c9bfba276f04
    $ uaac group add PCC_OPERATOR_03badc2a-4243-4251-84b5-c9bfba276f04
    $ uaac group add PCC_DATA-ACCESS_03badc2a-4243-4251-84b5-c9bfba276f04
    $ uaac group add PCC_READ-ONLY_03badc2a-4243-4251-84b5-c9bfba276f04
    </pre>

5.  Use the UAAC to map each group name to the UAA server by running the `uaac group map` command. For example, for LDAP:

    ```
    uaac group map --name ROLE_SPACEGUID "GROUP-DISTINGUISHED-NAME"
    ```
    Where:
    * `ROLE_SPACEGUID` is a group name that you created in a previous step.
    * `GROUP-DISTINGUISHED-NAME` is the LDAP distinguished name of a Space-specific group that you created in a previous step.

    For example:

    <pre class="terminal">
    $ uaac group map --name PCC_DATA-ACCESS_03badc2a-4243-4251-84b5-c9bfba276f04 "CN=PCC_DATA-ACCESS_03badc2a-4243-4251-84b5-c9bfba276f04,OU=Groups,DC=pivotal,DC=io"
    </pre>

    For more information about the `uaac group map` command, see [Grant Admin Permissions to an External Group (SAML, LDAP, or OIDC)](https://docs.pivotal.io/application-service/2-12/uaa/uaa-user-management.html#external-group) in _Creating and Managing Users with the UAA CLI (UAAC)_ in the VMware Tanzu Application Service for VMs product documentation.
