---
title: Uninstalling VMware Tanzu GemFire
---

<a id="uninstall"></a>

To uninstall <%=vars.product_full%>, follow the steps from below from the **Installation Dashboard**:

1. Click the trash can icon in the bottom-right-hand corner of the tile.
1.  Click **Review Pending Changes**. For more information, see [Reviewing Pending Product Changes](https://docs.pivotal.io/ops-manager/2-10/install/review-pending-changes.html) in the VMware Tanzu Ops Manager documentation.
1.  Click **Apply Changes**.

