---
title:  Security
---

*Security* describes how to implement the security framework for the <span class="keyword">GemFire</span> native client, including authentication, authorization, ecryption, and SSL client/server communication.

The security framework authenticates clients that attempt to connect to a <span class="keyword">GemFire</span> cache server, and authorizes client cache operations. You can also configure it for client authentication of servers, and you can plug in your own implementations for authentication and authorization.


