---
title:  Setting System Properties
---

*Setting System Properties* describes how to configure <span class="keyword">Pivotal GemFire</span> native clients and cache servers to participate in a distributed system.


