---
title:  VSD Overview
---

VSD helps you monitor the performance of Pivotal GemFire and diagnose performance problems.

<a id="vsd__section_CBD5B04ACC554029B5C710CE8E244FEA"></a>
For specific information on the statistics produced by Pivotal GemFire, see [Statistics](../../managing/statistics/chapter_overview.html).

Your GemFire product creates a statistical archive file named `filename.gfs`. The file logs useful statistics — counters and gauges that describe the state of the system at a particular moment in time. The file collects statistics at specific sampling intervals, which you can set at various levels to monitor different types of behavior.

The VSD tool reads the sampled statistics and produces graphical displays for analysis. Typically, the points on a line of a VSD graph represent the values for a particular statistic over time. VSD’s online help offers more complete reference information about the tool.

The following screenshots of the VSD tool display statistics and a graph analysis of selected statistics.

<img src="../../common/images/VSD_Statistics.png" id="vsd__image_546835FC139949B8B5F04D6366D88254" class="image" />:

<img src="../../common/images/VSD_IndexStatistics.png" id="vsd__image_45F2B53D0A594CADBC1AE2E4032B4E62" class="image" />
