---
title:  Continuous Querying
---

*Continuous Querying* describes how to implement continuous querying in the <span class="keyword">Pivotal GemFire</span> native client so that C++ and C\# .NET clients can run queries against events in the <span class="keyword">GemFire</span> cache server region. It also describes main features and the native client CQ API.


