---
title: Pivotal GemFire 9.0.0-beta.1 Release Notes
---
<a id="topic_GF900ReleaseNotes"></a>

## <a id="topic_whatsnew" class="no-quick-link"></a>What's New in Pivotal GemFire 9.0.0-beta.1

- Pivotal GemFire 9.0.0-beta.1 is based on Apache Geode (incubating),
providing all the benefits of open source software.

- Region values may be stored in off heap memory,
instead of heap memory.
Off heap memory is not subject to Java garbage collection,
leading to performance advantages for some applications.
See [Managing Off-Heap Memory](/geode/managing/heap_use/off_heap_management.html) for details.

- The new Integrated Security feature provides a simpler and more powerful 
way of doing authentication and authorization.
See [Security](/geode/managing/security/chapter_overview.html) for details.
Users of GemFire 8.x should strongly consider reimplementing system-wide
security measures under the new method,
especially since
the 8.x Authenticator and AccessControl APIs have been superseded by
the new interface.
The 8.x implementation is supported, but is now deprecated.
If any 9.0 integrated security properties
are specified (such as `security-manager`),
GemFire will not honor the 8.x configuration and the
entire app must migrate to the 9.0 scheme.


- A new scheme for configuring SSL is both simpler and more powerful than 
its predecessor. 
The older SSL configuration scheme used separate,
single-valued properties with component-specific prefixes
such as `cluster-` and `server-`.
The new configuration scheme uses a simpler naming scheme
in which a smaller number of properties using the `ssl-` prefix
can take multiple values.
See [SSL](/geode/managing/security/ssl_overview.html) for details.

    The older SSL scheme is supported, but is now deprecated.
If any new-style properties are specified (those with the `ssl-` prefix),
then GemFire will not honor the older configuration,
and the entire app must migrate to the new scheme.

    The pre-GemFire 8.x SSL scheme, formerly deprecated, is now unsupported.

- All member discovery is through locators. Multicast communication can
no longer be used for discovery.

- Due to licensing restrictions with Apache Software Foundation,
the JGroups implementation used in Pivotal GemFire has been replaced
and updated to a compatible version.
This also allows GemFire to deal with JGroups as an external dependency
and keep up with recent versions as needed.

- Tomcat version 8 is now supported for HTTP session management.

- An adapter that allows GemFire to function as a drop-in replacement for
a Redis data store is available in an experimental implementation.
See [Experimental Features](../experimental/intro.html) to read about this
feature.

- OQL aggregate functions are available in an experimental implementation.
See [Experimental Features](../experimental/intro.html) to read about this
feature.

- An experimental implementation does a rebalance operation on a periodic
basis, basing a decision to do the rebalance on a minimum quantity of
bytes that would be transferred and/or on the ratio of the bytes that
would be transferred to the total number of bytes stored.
See [Experimental Features](../experimental/intro.html) to read about this
automated rebalance feature.

- An experimental implementation allows the creation of Apache Lucene indexes
on data stored in GemFire.

## <a id="topic_InstallingGF900" class="no-quick-link"></a>Installing Pivotal GemFire 9.0.0

This Pivotal GemFire 9.0.0-beta.1 version is available in ZIP and TAR
formats.

You can download Pivotal GemFire 9.0.0 from the [Pivotal GemFire product download](https://network.pivotal.io/products/pivotal-gemfire) page.

Pivotal GemFire 9.0.0 is available as:

-   ZIP or tar.gz file
-   Homebrew for MacOSX
-   Maven repository

The Pivotal GemFire 9.0.0 installation download includes GemFire tools such as Pulse, VSD, Developer REST APIs, and Pivotal GemFire HTTP Modules.

For details on how to install Pivotal GemFire 9.0.0, see [Installing Pivotal GemFire](../getting_started/installation/install_intro.html).

## <a id="UpgradingGF900" class="no-quick-link"></a>Upgrading to Pivotal GemFire 9.0.0

To upgrade from an earlier version of GemFire to the current version, see [Upgrading Pivotal GemFire](../getting_started/upgrade/upgrade_from_overview.html#concept_0129F6A1D0EB42C4A3D24861AF2C5425).

## <a id="topic_vm4_qg5_v4" class="no-quick-link"></a>Resolved Issues

The following issues have been resolved in GemFire 9.0.0:

-   **GEODE-2146**: A deploy operation now requires multiple
privileges for authorization: `CLUSTER:MANAGE`,
`CLUSTER:WRITE`, `DATA:MANAGE`, and `DATA:WRITE`.

