---
title: Pivotal GemFire Native Client 9.0.0 Release Notes
---
<a id="topic_f4h_hwt_v4"></a>

|                              |              |
|------------------------------|--------------|
| **Release Date**             | 10 July 2015 |
| **Last Document Update**     | 17 June 2015 |
| **Additional Documentation** |              |

<a id="topic_5mbwjl"></a>

## What's New in Pivotal GemFire Native Client 8.2.0

In addition to bug fixes, Pivotal GemFire Native Client 8.2.0 includes these new features and changes:

-   **Support for Java SE 8** (in addition to Java SE 7).
-   **Production support for RHEL 7.** See [GemFire Native Client Supported Configurations](../getting_started/system_requirements/gemfire_native_client_requirements.html#concept_7AE0C1CB11244095A50CCB52A09A09A1) for more information.
-   **Deprecated Platforms.** In GemFire 8.2, support for the following platforms is deprecated and may be removed in a future release of the product:
    -   All 32-bit operating systems.
    -   RHEL 5
    -   Mac OS X 10.8
    -   Windows 2008 Server R2
    -   Windows 7
    -   Windows 8
    -   Ubuntu 10

<a id="topic_ell_lg5_v4"></a>

## Installing Pivotal GemFire Native Client 8.2.0

You can download Pivotal GemFire Native Client 8.2.0 (and Pivotal GemFire 8.2.0) from the [Pivotal GemFire product download](https://network.pivotal.io/products/pivotal-gemfire) page.

Pivotal GemFire Native Client 8.2.0 installers are available in ZIP (Linux, Solaris) and MSI (Windows) format.

For details on how to install Pivotal GemFire Native Client 8.2.0, see [Installing the Native Client](../nativeclient/introduction/install-overview.html#install-overview) in the *Pivotal GemFire Native Client User's Guide*

<a id="topic_vm4_qg5_v4"></a>

## Resolved Issues

The following issues have been resolved in Pivotal GemFire Native Client 8.2.0:

-   **\#1026**. utf char doesn't work inside cq/ query
-   **\#51902**. Added support for CacheableLinkedList type.


