---
title:  Running Pivotal GemFire in Pure Java Mode
---

Pivotal GemFire can run in pure Java mode, meaning GemFire runs without GemFire native code.

<a id="system_requirements__section_CC0C807BD5804622891F1B1113B1DDEF"></a>
Running in pure Java mode enables Pivotal GemFire to run with some functional differences on unsupported platforms. Unsupported platforms include any platforms that are not listed in [Pivotal GemFire Supported Configurations](supported_configurations.html#system_requirements). Running in pure Java mode should not be used for production environments without consulting with Pivotal support first. In pure Java mode, distributed system members still have access to GemFire's caching and distribution capabilities, but the following features may be disabled:

-   Operating system statistics. Platform-specific machine and process statistics such as CPU usage and memory size.
-   Access to the process ID. Only affects log messages about the application. The process ID is set to "0" (zero) in pure Java mode.


