---
title:  Pivotal GemFire Supported Configurations
---

Pivotal GemFire is supported on a variety of platforms.

**Note:**
Running Pivotal GemFire clusters with a mix of different platforms has not been tested. We recommend that you use a consistent platform on all machines in your cluster.

## <a id="system_requirements__section_937FF0E606164F3EA0A965AA7DDD246D" class="no-quick-link"></a>Supported Platforms

All platforms listed as deprecated may be removed in a future release
of the product.

**These Pivotal GemFire <%=vars.product_version %>
platforms provide support for production systems:**

- CentOS 7 for the x86-64 processor
- RHEL 6 for the x86-64 processor **(Deprecated)**
- RHEL 7 for the x86-64 processor
- Ubuntu 14.04 for the x86-64 processor
- Ubuntu 16.04 for the x86-64 processor
- SUSE Linux Enterprise Server 11 for the x86-64 processor
- Solaris 11 for the x86-64 processor
- Solaris 11 for a 64-bit SPARC processor
- Windows 2012 Server for the x86-64 processor **(Deprecated)**
- Windows 2012 Server R2 for the x86-64 processor

**These cloud platforms are supported for Pivotal GemFire <%=vars.product_version %>:**

- Linux platforms under AWS
- Linux platforms under Microsoft Azure

**These Pivotal GemFire <%=vars.product_version %>
platforms provide support for development systems:**

- MacOS 10.12 (Sierra) for the x86-64 processor
- Windows 10 for the x86-64 processor

## <a id="system_requirements__section_j1b_4p3_tq" class="no-quick-link"></a>Java Support Notes

This version of Pivotal GemFire requires Java 8 release <%=vars.min_java_update %> or
a more recent version. 

The Pivotal GemFire product download does not include Java.
Download and install a supported JRE or JDK on each system running GemFire.
Pivotal recommends the installation of a full JDK (and not just a JRE)
to obtain better performance with `gfsh status` and `gfsh stop` commands.

## <a id="system_requirements__section_cg1_zp3_tq" class="no-quick-link"></a>File System Type for Linux and Solaris Platforms

For optimal disk-store performance, Pivotal recommends the use of 
`ext4` file systems when operating on Linux or Solaris platforms.
