---
title:  Pivotal GemFire Tools Supported Configurations
---

Pivotal GemFire tools, including Pulse and VSD, are supported on a variety of platforms.

-   **[Pivotal GemFire Pulse System Requirements](../../../geode/tools_modules/pulse/system_requirements.html)**

    Verify that your system meets the installation and runtime requirements for <span class="keyword">GemFire</span> Pulse.

-   **[VSD System Requirements](../../tools_modules/vsd/vsd_system_requirements.html)**

    View a list of platforms that are known to work with VSD.
