---
title: Security Information Specific to Pivotal GemFire
---

Pivotal is committed to providing products and solutions that allow you to assess the security of your information, secure your information infrastructure, protect your sensitive information, and manage security information and events to assure effectiveness and regulatory compliance.

As part of this commitment, the following Pivotal GemFire-specific security information is provided to help you secure your environment.

Note that the intent of this section is to gather discrete pieces of information in one convenient location to better help you assess and configure the security of your environment. For additional details about the information, see the appropriate sections in this User Guide.

-   **[External Interfaces, Ports, and Services](../../managing/security/security-audit.html#topic_686158E9AFBD47518BE1B4BEB232C190)**

    <span class="keyword">GemFire</span> processes use either UDP or TCP/IP ports to communicate with other processes or clients.

-   **[Resources That Must Be Protected](../../managing/security/security-audit.html#topic_263072624B8D4CDBAD18B82E07AA44B6)**

    Certain <span class="keyword">GemFire</span> configuration files should be readable and writeable *only* by the dedicated user who runs servers.

-   **[Log File Locations](../../managing/security/security-audit.html#topic_5B6DF783A14241399DC25C6EE8D0048A)**

    By default, the log files are located in the working directory used when you started the corresponding processes.

-   **[User Accounts Created at Installation](../../managing/security/security-audit.html#topic_E3A290F0EE334AD09359AB978D82E66F)**

    When you install Pivotal GemFire on Red Hat Enterprise Linux (RHEL) using the RPM, a user account is automatically created.

-   **[Obtaining and Installing Security Updates](../../managing/security/security-audit.html#topic_9E11E5A8769E4D1FBA55398F4FD72674)**

    New versions of Pivotal GemFire often include important security fixes, so Pivotal recommends you keep up to date with the latest releases.
